* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#first-section {
  background-image: linear-gradient(to right,
      rgba(252, 238, 213, 1),
      rgba(252, 238, 213, 1),
      rgba(255, 231, 186, 1));
  width: 100%;
  padding-top: 20px;
  padding-bottom: 9rem;
}


#header {
  position: relative;
  width: 90%;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

#bars-search-icons {
  display: none;
}

#nav-bar {
  z-index: 1;
}

#left-side {
  position: relative;
  width: 42%;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 115px;
  height: 40px;
  z-index: 3;
}

#nav-ul {
  display: flex;
  list-style: none;
  gap: 35px;
  z-index: 2;
}

.nav-list a {
  text-decoration: none;
  color: black;
}

#right-side {
  width: 58%;
  display: flex;
  /* border: 2px solid green; */
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 46px;
  height: 44px;
  padding: 12px 40px 12px 16px;
  display: flex;
  gap: 12px;
  /* margin-left: -100px; */
}

#search-input {
  /* width: 153px; */
  height: 20px;
  border: none;
}

#vnd {
  display: flex;
  align-items: center;
}

#join-btn {
  background-color: rgba(0, 52, 89, 1);
  color: white;
  height: 44px;
  border-radius: 57px;
  width: 263px;
  padding: 14px 28px 10px 28px;
  font-size: 16px;
  text-align: center;
}

#first-body {
  width: 90%;
  margin: 20px auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#left-body {
  width: 40%;
  margin-top: 100px;
  position: relative;
  z-index: 2;
  padding-left: 20px;
}

#rect-top1 {
  display: none;
}

#rect-top {
  position: absolute;
  /* bottom: 400px; */
  left: -119px;
  /* z-index: 1; */
}

#person-mobile {
  display: none;
}

#rect-mobile1 {
  display: none;
}

#rect-mobile2 {
  display: none;
}

#one-friend {
  font-size: 45px;
  text-align: left;
}

#more-fun {
  font-size: 34px;
  text-align: left;
}

#pet {
  line-height: 24px;
  font-size: 14px;
  display: flex;
  text-align: left;
  padding-right: 10px;
}

#button {
  display: flex;
  gap: 20px;
}

#button1 {
  display: flex;
  align-items: center;
  border-radius: 57px;
  width: 40%;
  gap: 8px;
  height: 48px;
  padding: 14px 28px 10px 50px;
  border: 1px solid rgba(0, 52, 89, 1);
}

#intro {
  border: none;
  width: 73px;
  font-size: 16px;
  background-color: transparent;
}

#button2 {
  border: none;
  background-color: rgba(0, 52, 89, 1);
  width: 100%;
  align-items: center;
  border-radius: 57px;
  padding: 10px 50px 10px 50px;
  height: 48px;
  color: white;
}

#rectangle3 {
  position: absolute;
  top: 0px;
  z-index: -1;
  width: 12%;
  left: 14px;
}

#rectangle8 {
  position: absolute;
  top: 380px;
  right: -99px;
  /* border: 1px solid red; */
}

#right-body {
  width: 60%;
  position: relative;
}

#right-body #person {
  position: absolute;
  width: 119%;
  z-index: 3;
  top: -5px;
  right: -30px;
}

#rectangle7 {
  position: absolute;
  z-index: 2;
  top: 102px;
  left: 71px;
}

#rectangle6 {
  top: 95px;
  left: 70px;
  position: absolute;
  z-index: 1;
}

#rectangle5 {
  position: absolute;
  left: 102px;
  top: 40px;
}

#right-body #rectangle2 {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 2;
  top: 125px;
  left: -17px;
}

#right-body #rectangle1 {
  position: absolute;
  width: 85%;
  top: 198px;
  left: -25px;
  /* right: 500px; */
  z-index: 1;
}

#second-section {
  width: 100%;
  height: 1050px;
  padding-top: 20px;
  background-color: white;
}

#second-body {
  width: 90%;
  margin: 5px auto;
}

#second-header {
  display: flex;
  justify-content: space-between;
}

#pet-list {
  color: rgba(0, 52, 89, 1);
  font-size: 24px;
}


#second-view2 {
  display: none;
}

#second-view {
  display: flex;
  text-align: center;
  justify-content: center;
  border: 1px solid rgba(0, 52, 89, 1);
  width: 14%;
  background-color: white;
  padding: 9px 5px;
  border-radius: 25px;
}

#viewmore2 {
  border: none;
  color: rgba(0, 52, 89, 1);
  background-color: transparent;
}

.product-cards {
  margin: 20px auto;
}

.product-cards2 {
  display: none;
}

#first-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  gap: 10px;
}

#second-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  gap: 10px;
  /* background-color: blue; */
}

#dog-cards {
  width: 40%;
  border: 1px solid white;
  background-color: rgba(253, 253, 253, 1);
  box-shadow: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  /* box-shadow: black; */
}

#dog-img {
  width: 100%;
  padding: 5px;
  border-radius: 20px;
}

.dog-des {
  line-height: 24px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 17px;
  padding-right: 10px;
}

.dog-name {
  color: rgba(0, 23, 31, 1);
  font-size: 14px;
}

.dog-gender {
  color: rgba(102, 116, 121, 1);
  font-size: 12px;
}

.price {
  color: rgba(0, 23, 31, 1);
  font-size: 14px;
}

#third-section {
  width: 100%;
  /* height: 1050px; */
  padding-top: 20px;
  background-color: white;
}

#third-body {
  width: 90%;
  margin: 10px auto;
  /* height: 378px; */
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 52, 89, 1);
  padding-bottom: 45px;
  position: relative;
  border-radius: 20px;
}

#div-mobile {
  display: none;
}

#mobile-rect {
  display: none;
}

#mobile-rect2 {
  display: none;
}

#person-2 {
  position: absolute;
  z-index: 2;
  top: 18px;
}

#rectangle-10 {
  position: absolute;
  z-index: 1;
  top: 45px;
  border-bottom-left-radius: 20px;
}

#right-side3 {
  width: 45%;
  position: relative;
  /* border: 1px solid green; */
}

#right-side3 #rectangle-11 {
  position: absolute;
  width: 112%;
  right: -2px;
  z-index: 1;
  /* border: 1px solid red; */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#third-text {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  padding-right: 50px;
  text-align: right;
}

#two-friend {
  font-size: 45px;
}

#more-funs {
  font-size: 30px;
}

#pets {
  font-size: 14px;
}

#buttons {
  display: flex;
  /* border: 1px solid red; */
  position: relative;
  z-index: 2;
  gap: 20px;
  padding-left: 200px;

}

#button3a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 57px;
  width: 40%;
  gap: 8px;
  height: 48px;
  border: 1px solid rgba(0, 52, 89, 1);
}

#intros {
  border: none;
  background-color: transparent;
  font-size: 12px;
}

#button3b {
  border: none;
  background-color: rgba(0, 52, 89, 1);
  width: 100%;
  align-items: center;
  border-radius: 57px;
  padding: 5px 50px 5px 50px;
  height: 48px;
  color: white;
}

#fourth-section {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: white;
}

#fourth-body {
  width: 90%;
  margin: 5px auto;
}

#fifth-section {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: white;
}

#fifth-body {
  width: 90%;
  margin: 5px auto;
}

#fifth-header {
  display: flex;
  text-align: center;
  gap: 5px;
}

#fifth-pictures {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#sixth-section {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: white
}

#sixth-body {
  width: 90%;
  margin: 10px auto;
  height: 378px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 183, 117, 1);
  position: relative;
  border-radius: 20px;
}

#sixth-text {
  position: relative;
  z-index: 2;
  padding-top: 60px;
  padding-left: 60px;
  text-align: left;
}

#left-side6 {
  position: relative;
}

#adoption {
  font-size: 50px;
  color: rgba(0, 52, 89, 1);
}

#help {
  font-size: 34px;
  color: rgba(0, 52, 89, 1);
}

#petss {
  font-size: 14px;
  line-height: 20px;
}

#rectangle-12 {
  position: absolute;
}

.claws {
  position: absolute;
  left: 330px;
  bottom: 120px;
}

#button6 {
  display: flex;
  /* justify-content: space-between; */
  position: relative;
  z-index: 2;
  gap: 10px;
  padding-left: 30px;
}

#button6a {
  border: none;
  background-color: rgba(0, 52, 89, 1);
  width: 100%;
  align-items: center;
  border-radius: 57px;
  padding: 5px 45px 5px 45px;
  height: 48px;
  color: white;
  font-size: 12px;
}

#button6b {
  display: flex;
  align-items: center;
  border-radius: 57px;
  width: 30%;
  gap: 3px;
  height: 48px;
  padding: 14px 23px 10px 45px;
  border: 1px solid rgba(0, 52, 89, 1);
}

#intross {
  border: none;
  background-color: transparent;
  font-size: 12px;
}

#right-side6 {
  position: relative;
}

#rectangle-13 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

#hand {
  position: absolute;
  right: 10px;
  z-index: 2;
}

#seventh-section {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: white
}

#seventh-body {
  width: 90%;
  margin: 5px auto;
}

.product-cards3 {
  display: none;
}

.dog-des1 {
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 19px;
  padding-right: 10px;
}

.petknow-btn {
  border: none;
  margin-left: 15px;
  margin-top: 5px;
  background-color: rgba(0, 167, 231, 1);
  width: 45%;
  align-items: center;
  border-radius: 57px;
  padding: 5px 30px 5px 30px;
  height: 35px;
  color: white;
  font-size: 12px;
}

.dog-article {
  color: rgba(36, 43, 51, 1);
  font-size: 12px;
  padding-top: 10px;
}

.dog-title {
  color: rgba(36, 43, 51, 1);
  font-size: 14px;
}

#footer {
  background-image: linear-gradient(to right,
      rgba(252, 238, 213, 1),
      rgba(252, 238, 213, 1),
      rgba(255, 231, 186, 1));
  /* height: 440px; */
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

#reg {
  width: 90%;
  margin: 30px auto;
  display: flex;
  gap: 30px;
  background-color: rgba(0, 52, 89, 1);
  border-radius: 16px;
  padding: 30px;
}


#left-footer1 {
  width: 35%;
  color: white;
  padding-left: 20px;
  line-height: 30px;
  margin: auto;
}

#right-footer1 {
  width: 65%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
  display: flex;
  border-radius: 14px;
  background-color: white;
  justify-content: space-between;
  padding: 10px;

}

#footer-text {
  width: 65%;
  border-radius: 14px;
  padding-left: 40px;
}

#footer-btn {
  width: 30%;
  height: 48px;
  border: none;
  background-color: rgba(0, 52, 89, 1);
  color: white;
  border-radius: 8px;
}

#footer-nav {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#nav-ul2 {
  display: flex;
  list-style: none;
  gap: 50px;
}

#right-footer2 {
  display: flex;
  gap: 50px;
}

#hr {
  width: 90%;
  margin: auto;
}

#footer-logo {
  justify-content: space-between;
  display: flex;
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

#logo2-media {
  display: none;
}

.footer-text2 {
  color: rgba(102, 116, 121, 1);
  font-size: 14px;
}

#footer-text-media {
  display: none;
}

.footer-text-media {
  display: none;
}

#logo2 {
  width: 11%;
}

#conditions {
  display: flex;
  gap: 50px;
}

@media(max-width: 1440px) {
  #header {
    width: 100%;
  }

  #button1 {
    width: 43%;
  }

  #rectangle2 {
    width: 96.5%;
    top: 130px;
    left: 7px;
  }

  #rectangle1 {
    width: 85%;
    top: 203px;
    left: -5px;
  }

  #rectangle-11 {
    width: 111%;
    top: -1px;
  }

}

@media(max-width: 1250px) {

  #header {
    width: 100%;
  }

  #button1 {
    width: 43%;
  }

  #rectangle2 {
    width: 110%;
    top: 135px;
    left: -47px;
  }

  #rectangle1 {
    width: 94%;
    top: 180px;
    left: -50px;
  }
}

@media(max-width: 768px) {
  body {
    position: relative;
  }

  #first-section {
    padding-bottom: 0px;
  }

  #header {
    padding-top: 30px;
    position: absolute;
    top: 67px;
    flex-flow: column wrap;
    background-color: aliceblue;
    z-index: 5;
    padding-bottom: 30px;
    gap: 50px;
    width: 60%;
    border-radius: 8px;
    display: none;
  }

  #bars-search-icons {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  #menu-bar {
    display: block;
    font-size: 30px;
    z-index: 3;
  }

  #logo {
    display: none;
  }

  #nav-ul {
    flex-flow: column wrap;
  }

  #right-side,
  #left-side {
    flex-flow: column wrap;
  }


  #s-logo {
    z-index: 3;
  }

  #big-search {
    display: block;
    font-size: 30px;
  }

  #rect-top {
    display: none;
  }

  #rect-top1 {
    width: 90%;
    position: absolute;
    left:0px;
    top: -40px;
    display: block;
  }

  #first-body {
    flex-direction: column;
    gap: 20px;
    padding-top: 0px;
    margin-top: 50px;
  }

  #left-body {
    width: 100%;
    margin-top: 60px;
    padding-left: 0px;
    /* border: .1rem solid blue; */
  }

  #one-friend {
    font-size: 4.6rem;
    width: 100%;
  }

  #more-fun {
    font-size: 2.7rem;
  }

  #pet {
    font-size: 1.2rem;
    font-weight: 300;
  }

  #button {
    display: flex;
    justify-content: space-between;
  }

  #button1 {
    justify-content: space-between;
    gap: 0px;
    height: 0px;
    padding: 30px 15px;
    width: 40%;
  }

  #intro {
    width: 90%;
    font-size: 1.5rem;
  }

  #btn2 {
    width: 40%;
  }

  #button2 {
    padding: 30px 15px;
    height: 0px;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
  }

  #right-body {
    /* border: .1rem solid blue; */
    position: relative;
    width: 100%;
    bottom: 0px;
    height: 128vh;
  }

  #person-mobile {
    position: relative;
    width: 100%;
    z-index: 3;
    right: 20px;
    top: -1165px;
    display: block;
  }

  #person {
    display: none;
  }

  #rectangle1 {
    display: none;
  }

  #rect-mobile1 {
    position: relative;
    width:105%;
    top: 30px;
    z-index: 2;
    left: 5px;
    display: block;
  }

  #rectangle2 {
    display: none;
  }

  #rect-mobile2 {
    position: relative;
    width: 100%;
    bottom: 487px;
    left: 25px;
    display: block;
  }

  #rectangle3 {
    display: none;
  }

  #rectangle7 {
    position: relative;
    top: -1460px;
    left: 530px;
  }

  #rectangle6 {
    position: relative;
    top: -1460px;
    left: 500px;
  }

  #rectangle5 {
    position: relative;
    width: 27px;
    top: -1509px;
    left: 580px;
  }

  #rectangle8 {
    display: none;
  }

  #second-section {
    height: 0px;
    padding-bottom: 1600px;
    /* background-color: red; */
  }

  #second-body {
    width: 90%;
    margin-top: 0px;
  }

  #pet-list {
    font-size: 30px;
  }

  #second-view {
    display: none;
  }

  #product-cards {
    display: none;
  }

  #first-cards {
    display: none;
  }

  #second-cards {
    display: none;
  }

  .product-cards2 {
    display: block;
    width: 100%;
  }

  .indv-div {
    display: flex;
    gap: 10px;
    /* border: 1px solid black; */
    margin: 1rem auto;
  }

  #dog-cards1 {
    margin: 0 auto;
    width: 50%;
    border: 1px solid white;
    background-color: rgba(253, 253, 253, 1);
    box-shadow: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  #dog-img1 {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
  }

  .dog-des1 {
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 17px;
    padding-right: 10px;
  }

  .dog-name1 {
    color: rgba(0, 23, 31, 1);
    font-size: 12px;
  }

  .dog-gender1 {
    color: rgba(102, 116, 121, 1);
    font-size: 12px;
  }

  .price1 {
    color: rgba(0, 23, 31, 1);
    font-size: 10px;
  }

  #second-view2 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border: 1px solid rgba(0, 52, 89, 1);
    border-radius: 57px;
    padding: 20px 40px;
  }

  #viewmore3 {
    background-color: transparent;
    border: none; 
  }

  #third-section {
    margin: 500px auto 0px auto;
    width: 100%;
    padding-top: 0px;
  }

  #third-body {
    padding-bottom: 620px;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }

  #rectangle-10 {
    display: none;
  }

  #rectangle-11 {
    display: none;
  }

  #right-side3 {
    width: 100%;
    /* border: .1rem solid black; */
  }

  #mobile-rect {
    position: absolute;
    display: block;
    width: 100.5%;
    left: -1px;
    top: -1px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    /* border: .1rem solid red; */
  }

  #left-side3 {
    /* border: .1rem solid blue; */
    position: relative;
  }

  #mobile-rect2 {
    display: block;
    position: absolute;
    top: 270px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  #person-2 {
    top: 40px;
    right: -70px;
    width: 130%;
  }

  #third-text {
    width: 99.4%;
    padding: 30px 0px 30px 0px;
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
    /* border: .1rem solid blue; */
  }

  #two-friend {
    font-size: 70px;
  }

  #more-funs {
    font-size: 45px;
  }

  #pets {
    font-size: 21px;
    line-height: 2rem;
  }

  #buttons {
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    /* border: .1rem solid blue; */
  }

  #button3a {
    justify-content: center;
    width: 40%;
    height: 0px;
    padding: 30px 10px 30px 10px;
  }

  #buttonb {
    width: 40%;
  }

  #button3b {
    display: flex;
    justify-content: center;
    padding: 30px 10px 30px 10px;
    height: 0px;
  }

  #fourth-section {
    display: none;
  }

  #fifth-section {
    display: none;
  }

  #sixth-section {
    display: none;
  }

  #seventh-section {
    width: 100%;
  }

  #seventh-body {
    margin: 0px auto;
  }

  .product-cards3 {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    padding: 5px;
    left: 0px;
  }

  #dog-cards3 {
    border-radius: 20px;
  }

  .petknow-btn{
    padding: 30px 30px 30px 30px;
    height: 0px;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  #dog-img3 {
    padding-bottom: 10px;
    width: 100%;
  }

  .dog-des3 {
    padding-top: 10px;
  }

  .dog-title3 {
    font-size: 1.9rem;
  }

  .dog-article3 {
    padding-top: 10px;
    line-height: 2rem;
    font-size: 1.5rem;
  }

  #reg {
    flex-direction: column;
    padding: 20px;
  }

  #left-footer1 {
    padding-left: 0px;
    width: 100%;
  }

  #register-text {
    line-height: 3rem;
    font-size: 2rem;
  }

  #right-footer1 {
    width: 100%;
    flex-direction: column;
    gap: 10PX;
  }

  #footer-btn,
  #footer-text {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    font-size: 1.2rem;
  }

  #footer-nav {
    gap: 40px;
    flex-direction: column;
    width: 100%;
  }

  #nav-ul2 {
    /* border: .1rem solid black; */
    justify-content: space-around;
    gap: 20px;
  }

  #right-footer2 {
    justify-content: center;
    /* border: .1rem solid black; */
  }

  #nav-list {
    font-size: 1.4rem;
  }

  #footer-logo {
    flex-direction: column;
    align-items: center;
  }

  #logo2-media {
    display: block;
    width: 40%;
    padding-bottom: 40px;
  }

  #logo2 {
    display: none;
  }

  #conditions-media {
    display: flex;
    gap: 50px;
  }

  #conditions {
    flex-direction: column;
    gap: 30px;
  }

  #footer-text-media {
    display: block;
    color: rgba(102, 116, 121, 1);
    font-size: 14px;
  }

  .footer-text-media {
    display: block;
    color: rgba(102, 116, 121, 1);
    font-size: 14px;
  }

  .footer-text2 {
    display: none;
  }

}

@media(max-width: 425px) {
  body {
    position: relative;
  }

  #first-section {
    padding-bottom: 0px;
  }

  #header {
    padding-top: 30px;
    position: absolute;
    top: 67px;
    flex-flow: column wrap;
    background-color: aliceblue;
    z-index: 5;
    padding-bottom: 30px;
    gap: 50px;
    width: 60%;
    border-radius: 8px;
    display: none;
  }

  #bars-search-icons {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  #menu-bar {
    display: block;
    font-size: 30px;
    z-index: 3;
  }

  #logo {
    display: none;
  }

  #nav-ul {
    flex-flow: column wrap;
  }

  #right-side,
  #left-side {
    flex-flow: column wrap;
  }


  #s-logo {
    z-index: 3;
  }

  #big-search {
    display: block;
    font-size: 30px;
  }

  #rect-top {
    display: none;
  }

  #rect-top1 {
    width: 110%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
  }

  #first-body {
    flex-direction: column;
    gap: 20px;
    padding-top: 0px;
    margin-top: 50px;
  }

  #left-body {
    width: 100%;
    margin-top: 0px;
    padding-left: 0px;
  }

  #one-friend {
    font-size: 2.5rem;
  }

  #more-fun {
    font-size: 1.9rem;
  }

  #pet {
    font-size: .62rem;
    font-weight: 300;
  }

  #button {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    /* border: .1rem solid blue; */
  }

  #button1 {
    justify-content: space-between;
    gap: 0px;
    height: 0px;
    padding: 23px 15px;
    width: 40%;
  }

  #intro {
    width: 80%;
    font-size: 1rem;
  }

  #btn2 {
    width: 40%;
  }

  #button2 {
    padding: 23px 15px;
    height: 0px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }

  #right-body {
    height: 77vh;
  }

  #person-mobile {
    position: absolute;
    width: 120%;
    z-index: 3;
    right: -40px;
    top: 0px;
    bottom: 695px;
    display: block;
  }

  #person {
    display: none;
  }

  #rectangle1 {
    display: none;
  }

  #rect-mobile1 {
    position: relative;
    width: 105%;
    top: 52px;
    z-index: 2;
    left: 1px;
    display: block;
  }

  #rectangle2 {
    display: none;
  }

  #rect-mobile2 {
    position: relative;
    width: 105%;
    bottom: 249px;
    left: -10px;
    display: block;
  }

  #rectangle3 {
    display: none;
  }


  #rectangle7 {
    position: relative;
    top: -910px;
    left: 370px;
  }

  #rectangle6 {
    position: relative;
    top: -910px;
    left: 330px;
  }

  #rectangle5 {
    position: relative;
    width: 27px;
    top: -950px;
    left: 280px;
  }

  #rectangle8 {
    display: none;
  }

  #second-section {
    height: 0px;
    padding-bottom: 1600px;
    /* background-color: red; */
  }

  #second-body {
    width: 90%;
    margin-top: 0px;
  }

  #pet-list {
    font-size: 20px;
  }

  #second-view {
    display: none;
  }

  #product-cards {
    display: none;
  }

  #first-cards {
    display: none;
  }

  #second-cards {
    display: none;
  }

  .product-cards2 {
    display: block;
    width: 100%;
  }

  .indv-div {
    display: flex;
    gap: 10px;
    /* border: 1px solid black; */
    margin: 1rem auto;
  }

  #dog-cards1 {
    margin: 0 auto;
    width: 50%;
    border: 1px solid white;
    background-color: rgba(253, 253, 253, 1);
    box-shadow: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  #dog-img1 {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
  }

  .petknow-btn{
    padding: 20px 30px 20px 30px;
    height: 0px;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }

  .dog-des1 {
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 17px;
    padding-right: 10px;
  }

  .dog-name1 {
    color: rgba(0, 23, 31, 1);
    font-size: 12px;
  }

  .dog-gender1 {
    color: rgba(102, 116, 121, 1);
    font-size: 12px;
  }

  .price1 {
    color: rgba(0, 23, 31, 1);
    font-size: 10px;
  }

  #second-view2 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border: 1px solid rgba(0, 52, 89, 1);
    border-radius: 57px;
    padding: 10px 40px;
  }

  #viewmore3 {
    background-color: transparent;
    border: none;
  }

  #third-section {
    width: 100%;
    padding-top: 0px;
    margin: 0;
  }

  #third-body {
    padding-bottom: 411px;
    flex-direction: column-reverse;
  }

  #rectangle-10 {
    display: none;
  }

  #rectangle-11 {
    display: none;
  }

  #right-side3 {
    width: 100%;
  }

  #mobile-rect {
    position: absolute;
    display: block;
    width: 100.5%;
    left: -1px;
    top: -1px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    /* border: .1rem solid red; */
  }

  #left-side3 {
    /* border: .1rem solid blue; */
    position: relative;
  }

  #mobile-rect2 {
    display: block;
    position: absolute;
    top: 210px;
    border-bottom: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  #person-2 {
    top: 70px;
    right: -50px;
  }

  #third-text {
    width: 99.4%;
    padding: 0px 0px 0px 0px;
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
  }

  #two-friend {
    font-size: 35px;
  }

  #more-funs {
    font-size: 24px;
  }

  #pets {
    font-size: 12px;
    line-height: 18px;
  }

  #buttons {
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 5px;
  }

  #button3a {
    justify-content: center;
    width: 40%;
    height: 0px;
    padding: 20px 10px 20px 10px;
  }

  #buttonb {
    width: 40%;
  }

  #button3b {
    display: flex;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    height: 0px;
  }

  #fourth-section {
    display: none;
  }

  #fifth-section {
    display: none;
  }

  #sixth-section {
    display: none;
  }

  #seventh-section {
    width: 100%;
  }

  #seventh-body {
    margin: 0px auto;
  }

  .product-cards3 {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    padding: 5px;
    left: 0px;
  }

  #dog-cards3 {
    border-radius: 20px;
  }

  #dog-img3 {
    padding-bottom: 10px;
    width: 100%;
  }

  .dog-des3 {
    padding-top: 10px;
  }

  .dog-title3 {
    font-size: 1rem;
  }

  .dog-article3 {
    padding-top: 10px;
    line-height: 1.5rem;
    font-size: .8rem;
  }

  #reg {
    flex-direction: column;
    padding: 20px;
  }

  #left-footer1 {
    padding-left: 0px;
    width: 100%;
  }

  #register-text {
    font-size: 16px;
  }

  #right-footer1 {
    width: 100%;
    flex-direction: column;
    gap: 10PX;
  }

  #footer-btn,
  #footer-text {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
  }

  #footer-nav {
    gap: 40px;
    flex-direction: column;
    width: 100%;
  }

  #nav-ul2 {
    /* border: .1rem solid black; */
    justify-content: space-around;
    gap: 20px;

  }

  #right-footer2 {
    justify-content: center;
    /* border: .1rem solid black; */
  }

  #nav-list {
    font-size: .1rem;
  }

  #footer-logo {
    flex-direction: column;
    align-items: center;
  }

  #logo2-media {
    display: block;
    width: 40%;
    padding-bottom: 40px;
  }

  #logo2 {
    display: none;
  }

  #conditions-media {
    display: flex;
    gap: 50px;
  }

  #conditions {
    flex-direction: column;
    gap: 30px;
  }

  #footer-text-media {
    display: block;
    color: rgba(102, 116, 121, 1);
    font-size: 14px;
  }

  .footer-text-media {
    display: block;
    color: rgba(102, 116, 121, 1);
    font-size: 14px;
  }

  .footer-text2 {
    display: none;
  }

}

@media(max-width: 375px) {

  #right-body {
    height: 60vh;
  }

  #first-section {
    padding-bottom: 0px;
  }

  #rect-top1 {
    left: -20px;
  }

  #one-friend {
    font-size: 2.2rem;
  }

  #more-fun {
    font-size: 1.7rem;
  }

  #pet {
    font-size: .58rem;
    font-weight: 300;
  }

  #person-mobile {
    right: 0px;
    bottom: 625px;
    width: 107%
  }

  #rect-mobile1 {
    width: 105%;
    top: 6px;
  }

  #rect-mobile2 {
    bottom: 260px;
    left: -5px;
  }

  #rectangle7 {
    top: -840px;
    left: 330px;
  }

  #rectangle6 {
    top: -840px;
    left: 290px;
  }

  #rectangle5 {
    width: 27px;
    top: -870px;
    left: 230px;
  }

  #pet-list {
    font-size: 20px;
  }

  #third-section{
    margin: 0;
  }

  #third-body {
    padding-bottom: 370px;
    flex-direction: column-reverse;
  }

  #mobile-rect2 {
    display: block;
    position: absolute;
    top: 186px;
    width: 100%;
    border-bottom: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  #person-2 {
    top: -13px;
    right: -140px;
    width: 170%;
  }

  #pets {
    font-size: 10px;
    line-height: 18px;
  }
}

@media(max-width: 320px) {

  #right-body {
    height: 51vh;
  }

  #rect-top1 {
    left: -40px;
    top: 0px;
    width: 130%;
  }

  #one-friend {
    font-size: 1.9rem;
  }

  #more-fun {
    font-size: 1.4rem;
  }

  #pet {
    font-size: .6rem;
    font-weight: 300;
  }

  #button1 {
    gap: 2px;
  }

  #intro {
    font-size: .8rem;
  }

  #btn2 {
    width: 40%;
  }

  #button2 {
    font-size: .8rem;
  }

  #person-mobile {
    bottom: 535px;
  }

  #rect-mobile2 {
    bottom: 222px;
    left: -4px;
  }

  #rectangle7 {
    top: -740px;
    left: 270px;
  }

  #rectangle6 {
    top: -740px;
    left: 240px;
  }

  #rectangle5 {
    width: 27px;
    top: -780px;
    left: 200px;
  }

  #pet-list {
    font-size: 15px;
  }

  #third-section{
    margin: 0;
  }

  #third-body {
    padding-bottom: 290px;
    flex-direction: column-reverse;
  }

  #mobile-rect2 {
    top: 140px;
  }

  #person-2 {
    top: -13px;
    right: -100px;
    width: 160%;
  }

  #third-text {
    width: 99.4%;
    padding: 0px 2px 0px 2px; 
    margin: 5px auto 0 auto;
  }

  #two-friend {
    font-size: 30px;
  }

  #more-funs {
    font-size: 23px;
  }

  #buttons {
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 0;
  }

  #pets {
    font-size: 10px;
    line-height: 18px;
  }
}

